<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>

    <h1>Mongoose Store</h1>

    <h2><%= item.name %></h2>

    <img src=<%= item.img %>>

    <form action="/products/<%=item._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=item.name%>"><br>
        Description: <input type="text" name="description" value="<%=item.description%>"><br>
        Price: <input type="number" name="price" value="<%=item.price%>"><br>
        Quantity: <input type="number" name="qty" value="<%=item.qty%>"><br>
        <input type="submit" value="Submit Changes"/>
        </form>
        <a href="/products"><button>Back Home</button></a>
    
</body>
</html>