<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>
    <h1>Mongoose Store</h1>

    <h2><%= item.name %></h2>

    <img src="<%= item.img %>">

    <p>
         <ul>
             <li>Description: <%= item.description %></li>
             <li>Price: <%= item.price %></li>
             <li>Quantity: <%= item.qty %></li>
         <ul>
            <form action="/products/<%=item._id%>?_method=PUT" method="POST">
                <% if(item.qty != 0) { %>
                <input class="hidden" type="hidden" name="qty" value="<%= (parseInt(item.qty)-1).toString() %>">
                <input class ="buy" type="submit" name="" value="Buy Now!"/>
                <% } else { %>
                    <input class="oof" type="submit" name="" value="Buy Now!" disabled="true"/>
               <% } %>
            </form>
            <a href="/products"><button>Back Home</button></a>
     </p>
    
</body>
</html>